<div class="row">
  <div class="col-12">
    <a class="btn btn-outline-primary float-left" href="/detail/{{ id }}/">Detail</a>
    <a class="btn btn-outline-primary float-left" href="/detail/{{ id }}/metrics/">Metrics</a>
    <a class="btn btn-outline-primary float-left" href="/detail/{{ id }}/object_users/">Objects</a>
    <a class="btn btn-outline-primary float-left" href="/detail/{{ id }}/privileges/">Privileges</a>
    <a class="btn btn-outline-primary float-left" href="/detail/{{ id }}/v$parameter/">Parameter</a>
    <a class="btn btn-outline-primary float-left" href="/detail/{{ id }}/v$instance/">Instance</a>
    <a class="btn btn-outline-primary float-left" href="/detail/{{ id }}/v$database/">Database</a>
    <a class="btn btn-outline-primary float-left" href="/detail/{{ id }}/v$/">V$</a>
  </div>
</div>
