<table class="table table-bordered table-striped table-hover table-condensed" style="table-layout:fixed">
  <tbody>
    <tr>
      <th>SERVICE NAME</th>
      <td>{{ service_name }}</td>
    </tr>
    <tr>
      <th>HOST NAME</th>
      <td>{{ host_name }}</td>
    </tr>
    <tr>
      <th>PORT</th>
      <td>{{ port }}</td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered table-striped table-hover table-condensed">
  <tbody>
    <tr>
      <th>STATISTIC</th>
      <th>NAME</th>
      <th>CLASS</th>
      <th>VALUE</th>
      <th>STAT_ID</th>
    </tr>
    {% for r in result %}
    <tr>
      <td>{{ r.STATISTIC }}</td>
      <td>{{ r.NAME }}</td>
      <td>{{ r.CLASS }}</td>
      <td>{{ r.VALUE }}</td>
      <td>{{ r.STAT_ID }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
