<table class="table table-bordered table-striped table-hover table-condensed" style="table-layout:fixed">
  <tbody>
    <tr>
      <th>SERVICE NAME</th>
      <td>{{ service_name }}</td>
    </tr>
    <tr>
      <th>HOST NAME</th>
      <td>{{ host_name }}</td>
    </tr>
    <tr>
      <th>PORT</th>
      <td>{{ port }}</td>
    </tr>
  </tbody>
</table>
<table class="table table-bordered table-striped table-hover table-condensed" style="table-layout:fixed">
  <tbody>
    <tr>
      <th>GRANTEE</th>
      <th>GRANTED_ROLE</th>
      <th>ADMIN_OPTION</th>
      <th>DEFAULT_ROLE</th>
    </tr>
    {% for r in result %}
    <tr>
      <td>{{ r.GRANTEE }}</td>
      <td>{{ r.GRANTED_ROLE }}</td>
      <td>{{ r.ADMIN_OPTION }}</td>
      <td>{{ r.DEFAULT_ROLE }}</td>
    </tr>
    {% endfor %}
  </tbody>
</table>
